{% extends 'filmoteca/base.html' %}

{% block titulo %}Filmoteca - Enviar mensaje{% endblock %}

{% block header1 %}¡Bienvenido a mi Filmoteca!{% endblock %}

{% block header2 %}Interactuá con los demás usuarios{% endblock %}

{% block contenido %}

    <br>

    {% if error %}
        <p style="color: darkblue">{{error}}</p>
    {% endif %}

    <center>
        <form method="POST"> {% csrf_token %}
            <table>
                {{form.as_table}}  
            </table>  
            <br>
            <input type="submit" value="Enviar">
        </form>

        <br>
        <a href="{% url 'chat' %}">Regresar</a>
    </center>    

    <br>

{% endblock %}