{% extends 'filmoteca/base.html' %}

{% block titulo %}Filmoteca - About{% endblock %}

{% block header1 %}¡Bienvenido a mi Filmoteca!{% endblock %}

{% block header2 %}Algunos datos sobre esta web y su creador{% endblock %}

{% block contenido %}
    
    <center>
        <br>

        <h4>Proyecto creado para la entrega final del Curso de Python de Coderhouse, comisión 40150.</h4>
        <h4>Fue desarrollado en Python 3.10.5 y en Django 4.0.6, por Agustín Bernasconi.</h4>

        <br>
        <img src="https://i.gyazo.com/10c21d2dd4fbea48c17c802e50115f47.png" height="200px", width="200px">
        <p></p>

        <h4>Nací el 18 de diciembre de 2001, en la Ciudad de Córdoba. Resido en Villa Carlos Paz.</h4>
        <h4>Me apasionan el cine, el fútbol y la política. Participo en competencias de armado de cubos Rubik.</h4>
        <h4>Siempre me gustó la matemática. Por eso, a principios de este año, comencé la carrera de Matemática</h4>
        <h4>Aplicada en la UNC. Allí descubrí la programación, me encantó desde el principio. Debido a que el</h4>
        <h4>resto de materias no me gustaban mucho, abandoné y arranqué este curso. Aprendí mucho, fue un gran</h4>
        <h4>pantallazo, la pasé muy bien. Recientemente, recibí una beca de un terciario en mi ciudad, para estudiar</h4>
        <h4>la carrera de Analista en Sistemas, y con la experiencia que tuve acá, me decidí a seguir ese camino.</h4>
               
        <br>
    </center>

{% endblock contenido %}
    