{% extends 'filmoteca/base_templates.html' %}

{% block titulo %}Filmoteca - Resultados{% endblock %}

{% block header1 %}Actores{% endblock %}

{% block header2 %}Las estrellas de la gran pantalla{% endblock %}

{% block boton %}

    <center>
        <br>
        <a href="{% url 'actores_añadir' %}">Añadir actor</a>
    </center>
    
{% endblock boton %}

{% block mensaje %}

    <br>

        <center>
            <p>Resultados para: {{busqueda}}</p>
        </center> 

{% endblock mensaje %}

{% block lista %}      

    {% if actores %}

        <br>
        {% for actor in actores %}
            <div class="col mb-5">
                <div class="card h-100">
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Datos del actor-->
                            <h5 class="fw-bolder">{{actor.nombre}} {{actor.apellido}}</h5>
                            <p>Nació el {{actor.fecha_nacimiento}}</p>
                            <p>Debutó en {{actor.pelicula_debut}}</p>
                            
                            {% if actor.esta_activo %}
                                <p>Sigue activo</p>
                            {% else %}
                                <p>Está retirado</p>
                            {% endif %}
                            
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}

    {% endif %}

{% endblock lista %}