{% extends 'filmoteca/base.html' %}

{% block titulo %}Filmoteca - Añadir actor{% endblock %}

{% block header1 %}Actores{% endblock %}

{% block header2 %}Agregá a tus estrellas favoritas{% endblock %}

{% block contenido %}

    <br>

    {% if form.errors %}
        <p style="color: red">Ingresaste mal los datos. Intentalo de nuevo.</p>
    {% endif %}

    <center>
        <form method="POST" enctype="multipart/form-data"> {% csrf_token %}
            <table>
                {{form.as_table}}  
            </table>  
            <br>
            <input type="submit" value="Enviar">
        </form>

        <br>
        <a href="{% url 'actores' %}">Regresar</a>
    </center>    

    <br>

{% endblock %}