{% extends 'filmoteca/base_templates.html' %}

{% block titulo %}Filmoteca - Resultados{% endblock %}

{% block header1 %}Películas{% endblock %}

{% block header2 %}Las mejores cintas de la última década{% endblock %}

{% block boton %}

    <center>
        <br>
        <a href="{% url 'peliculas_añadir' %}">Añadir película</a>
    </center>
    
{% endblock boton %}

{% block buscador %}

    <form action="{% url 'peliculas_resultados' %}" method="GET">

        <br>
        <center>  
            <p>
                Título: 
                <input type="text" name="titulo">
            </p> 

        <input type="submit" value="Buscar">

        </center>
        
    </form>

{% endblock buscador %}

{% block mensaje %}
    
    {% if peliculas %}

        <br>
        <center>
            <p>Resultados para: {{busqueda}}</p>
        </center>

    {% else %}

        <br>
        <center>
            <p>No hay resultados para: {{busqueda}}</p>
        </center>

    {% endif %}
        
{% endblock mensaje %}

{% block lista %}      

    {% if peliculas %}

        <br>
        {% for pelicula in peliculas %}
            <div class="col mb-5">
                <div class="card h-100">
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Datos de la película-->
                            <h5 class="fw-bolder">{{pelicula.titulo}}</h5>
                            <p>Estrenada en {{pelicula.estreno}}</p>
                            <a href="{% url 'peliculas_detail' pelicula.id %}">Ver detalle</a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}

    {% endif %}
        
{% endblock lista %}
