{% extends 'filmoteca/base.html' %}

{% block titulo %}Filmoteca - Register{% endblock %}

{% block header1 %}¡Bienvenido a mi Filmoteca!{% endblock %}

{% block header2 %}Para poder crear, editar y eliminar registros, deberás estar loggeado.{% endblock  %}

{% block contenido %}

        <br>
        {% if error %}
            <p style="color: darkblue">&#9679; {{error}}</p>
        {% endif %}
        
        <form method="post"> {% csrf_token %}

            {{form.as_p}}
            <input type="submit" value="Registrarse">

        </form>
        <br>

{% endblock contenido %}